.header {
  display: flex;
  padding: 20px;
  height: 65px;
  color: #ffffff;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(41, 10, 75, 1) 0%,
    rgba(34, 8, 68, 1) 0%,
    rgba(64, 16, 99, 1) 0%,
    rgba(79, 20, 114, 1) 0%,
    rgba(91, 23, 126, 1) 36%,
    rgba(139, 36, 175, 1) 100%,
    rgba(139, 36, 175, 1) 100%
  );
}

.image {
  height: 100%;
  margin-right: 6px;
}

.title {
  margin-right: auto;
  font-weight: bold;
  font-size: 20px;
}

.project {
  font-weight: 500;
  font-size: 12px;
}
